{% extends "index.html" %}
{% block main %}
{%- set _locale = config.extra.languages?[ctx.lang]?.locale %}
{%- if _locale is string %}
  {%- set _format = page.extra.date_format | default(value=`MMM dd`) %}
{%- else %}
  {%- set _format = page.extra.date_format | default(value=`%m-%d`) %}
{%- endif %}
{%- set date_attribute = page.extra.date_attribute | default(value=`date`) %}
{%- set year_attribute = page.extra.year_attribute | default(value=`year`) %}
{%- if _g_profile %}
  {{ <_profile _g_profile /> }}
{%- elif page.title %}
<h1 class="mb-16">{{ page.title }}</h1>
{%- endif %}

{%- if page.content %}
<section>{{ page.content | safe }}</section>
{%- endif %}

{%- if page.extra.section is string %}
  {#- todo check lang #}
  {%- set _pages = get_section(path=page.extra.section) | get(key=`pages`) | group_by(attribute=year_attribute) %}
{%- elif ctx.is_section and page?.pages is array %}
  {%- set _pages = page.pages | group_by(attribute=year_attribute) %}
{%- elif paginator?.pages is array %}
  {%- set _pages = paginator.pages | group_by(attribute=year_attribute) %}
{%- else %}
  {{- throw(message="The archive page is missing the extra.section frontmatter variable!") }}
{%- endif %}

{%- for year in _pages | keys | sort | reverse %}
  {%- set posts = _pages[year] %}
<h2>{{ year }} <sup class="opacity-60">{{ <_num value={(posts | length)} /> }}</sup></h2>

<div class="not-prose pl-4 lg:pl-6">
  <ul>
    {%- for post in posts | sort(attribute=date_attribute) | reverse %}
    <li>
      <div class="my-2 flex items-center justify-between">
        <a class="secondary-link" href="{{ <_link dest={post.permalink} /> }}">{%
          if post.title %}{{ post.title }}{% else %}{{ post.slug }}{% endif %}</a>
        <time class="font-mono text-sm max-md:flex-none opacity-80" datetime="{{
          <_datetime value={post[date_attribute]} _format=`%FT%T%:z` /> }}">{{
          <_datetime value={post[date_attribute]} _format _locale /> }}</time>
      </div>
    </li>
    {%- endfor %}
  </ul>
</div>

{%- endfor %}
{% endblock main %}
