{% extends "index.html" %}
{% block main %}
<h1 class="mb-16">{{ <_taxonomy_title key={taxonomy.name} /> }}</h1>
<div class="not-prose grid grid-cols-1 gap-4 md:grid-cols-2">
  {%- set word_more = <_str key=`word_more` /> %}
  {%- set taxonomy_sorting = config.extra.taxonomy_sorting?[taxonomy.name] | default(value="descending_frequency") %}
  {%- if taxonomy_sorting == "ascending_frequency" %}
    {%- set sorted_terms = terms | sort(attribute=`page_count`) %}
  {%- elif taxonomy_sorting == "name" %}
    {%- set sorted_terms = terms | sort(attribute=`name`) %}
  {%- else %}
    {%- set sorted_terms = terms | sort(attribute=`page_count`) | reverse %}
  {%- endif %}
  {%- for term in sorted_terms %}
  <div class="block-bg flex h-full flex-col rounded-lg px-5 pb-2 md:min-h-72">
    <h2 class="my-4 text-xl font-bold text-black dark:text-white">
      <a class="primary-link" href="{{ <_link dest={term.permalink} /> }}">{%
        if taxonomy.name == "authors" %}{{
          <_profile_name username={term.name} lang={ctx.lang} /> }}{%
        elif taxonomy.name == "tags" %}#{{ term.name }}{%
        elif taxonomy.name == "categories" %}{{ term.name }}{%
        else %}{{ term.name }}{% endif %}</a>
      <sup class="opacity-60">{{ <_num value={term.page_count} /> }}</sup>
    </h2>

    {#- todo var for the number #}
    {%- for term_page in term.pages[:5] %}
    <a class="secondary-link my-0.5" href="{{
      <_link dest={term_page.permalink} /> }}">{{ term_page.title or term_page.slug }}</a>
    {%- endfor %}

    {%- if term.pages | length > 5 %}
    <span class="flex justify-end">
      <a class="secondary-link mt-1 pr-2" href="{{
        <_link dest={term.permalink} /> }}">{{ word_more }}</a>
    </span>
    {%- endif %}
  </div>
  {%- endfor %}
</div>
{% endblock main %}
