{% extends "index.html" %}
{% block main %}
{%- if _g_profile %}
  {%- if paginator is undefined or paginator.current_index == 1 %}
    {{ <_profile _g_profile /> }}
  {%- endif %}
{%- elif taxonomy.name == "tags" %}
<h1 class="mb-16">#{{ term.name }}</h1>
{%- elif taxonomy.name == "categories" %}
<h1 class="mb-16">{{ term.name }}</h1>
{%- else %}
<h1 class="mb-16">{{ term.name }}</h1>
{%- endif %}
{{ <_list_pages pages={paginator?.pages | default(value=term.pages)} /> }}
{{ <_list_nav paginator taxonomy /> }}
{% endblock main %}
