---
layout: page
title: Disciplinas Pedro Kroger
---

{% assign pages = site.pedro | sort %}

<h2>2021.2</h2>

<p>
  As disciplinas de 2021.2 estão sendo ministradas no ambiente de
  aprendizagem virtual. Procure o professor da disciplina para obter
  acesso.
</p>

<ul>
{% for page in pages %}
    {% assign path = page.relative_path | split: '/' %}
    {% assign folder = path[1] %}
    {% if folder == '2021.2' %}
        <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endif %}
{% endfor %}
</ul>
