{% component _copyright(@config: map, @ctx: map, _ca_profile) %}{%
  set lang_base_url = get_url(path=``, lang=ctx.lang, trailing_slash=false) %}{%
  if config.extra.footer?.copyright is string %}{%
    set copyright = config.extra.footer.copyright | safe | replace(from=`$BASE_URL`, to=lang_base_url) %}{%
    if config.extra.footer.license_url is string %}{%
      set license_url = <_link dest={config.extra.footer.license_url} /> %}{%
      set copyright = copyright | safe | replace(from=`$LICENSE_URL`, to=license_url) %}{%
    endif %}{%
  else %}{%
    if _ca_profile?.name %}{%
      set copyright = "&copy;&nbsp;$YEAR " ~
        <_profile_name username={_ca_profile.name} lang={ctx.lang} /> %}{%
    else %}{%
      set copyright = "&copy;&nbsp;$YEAR" %}{%
    endif %}{%
    if config.extra.footer?.license_url is string %}{%
      set license_url = <_link dest={config.extra.footer.license_url} /> %}{%
      set copyright = '[' ~ copyright ~ '](' ~ license_url ~ ')' %}{%
    endif %}{%
  endif %}{%
  set current_year = <_datetime value={now()} _format=`%Y` /> | int %}{%
  if config.extra.footer?.since is number and config.extra.footer.since != current_year %}{%
    set copyright_years = config.extra.footer.since ~ `&ndash;` ~ current_year %}{%
  else %}{%
    set copyright_years = current_year %}{%
  endif %}{%
  set copyright = copyright | safe | replace(from=`$YEAR`, to=(copyright_years | safe)) %}{{
  copyright | markdown(inline=true) | safe }}{%
endcomponent %}
