{% component _datetime(value: string, _format=none, _locale=none, _timezone=none) %}{%
  if _format is string and _locale is string %}{%
    if _timezone is string %}{{
      value | date(format=_format, locale=_locale, timezone=_timezone) }}{%
    else %}{{
      value | date(format=_format, locale=_locale) }}{%
    endif %}{%
  elif _format is string %}{%
    if _timezone is string %}{{
      value | date(format=_format, timezone=_timezone) }}{%
    else %}{{
      value | date(format=_format) }}{%
    endif %}{%
  elif _timezone is string %}{{
    value | date(timezone=_timezone) }}{%
  else %}{{
    value | date() }}{%
  endif %}{%
endcomponent %}
