{% component _header_menu(@config: map, @ctx: map, header_menu: array, _i18n_menu) %}
<menu
  class="nav-wrapper flex w-full flex-col py-2 lg:w-auto lg:flex-row lg:self-center lg:py-0">
  {%- for m in header_menu %}
    {%- if m.url is not string %}
      {{- throw(message="url in menu is not set") }}
    {%- endif %}
  <li>
    <a
      class="primary-link block py-2 text-center text-lg font-medium lg:px-3 lg:py-0"
      href="{{ <_link dest={m.url} /> }}"
    >{# todo #}{%
        if m.names?[ctx.lang] %}{{
          m.names[ctx.lang] }}{%
        elif config.extra.menu_i18n and
          ctx.lang != ctx.hreflang and m.name is string and
          _i18n_menu[m.name][ctx.hreflang] %}{{
          _i18n_menu[m.name][ctx.hreflang] }}{%
        elif config.extra.menu_i18n and m.name is string and
          _i18n_menu[m.name][ctx.lang] %}{{
          _i18n_menu[m.name][ctx.lang] }}{%
        elif m.name %}{{
          m.name }}{%
        else %}{{
          m.url | replace(from=`@base`, to=``) | replace(from=`@lang`, to=``) }}{%
        endif %}</a>
  </li>
  {%- endfor %}
</menu>
{% endcomponent %}
