{% component _list_nav(@ctx: map, paginator, taxonomy) %}
  {%- if paginator is map or taxonomy %}
<nav class="not-prose mt-16 flex font-bold">
    {%- if paginator?.previous is string %}
  <a
    class="rounded-full bg-black px-4 py-3 text-sm text-white no-underline duration-75 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ <_link dest={paginator.previous} /> }}" rel="prev" accesskey=","
    >{{ <_str key=`left_arrow` /> }} {{ <_str key=`word_prev_page` /> }}</a>
    {%- elif taxonomy?.name is string and taxonomy?.slug is string %}
  <a
    class="rounded-full bg-black px-4 py-3 text-sm text-white no-underline duration-75 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ <_link dest={get_url(path=taxonomy.slug, lang=ctx.lang, trailing_slash=true)} /> }}" accesskey=","
    >{{ <_str key=`left_arrow` /> }} {{ <_taxonomy_title key={taxonomy.name} /> }}</a>
    {%- endif %}
    {%- if paginator?.next is string %}
  <a
    class="ml-auto rounded-full bg-black px-4 py-3 text-sm text-white no-underline duration-75 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ <_link dest={paginator.next} /> }}" rel="next" accesskey="."
    >{{ <_str key=`word_next_page` /> }} {{ <_str key=`right_arrow` /> }}</a>
    {%- endif %}
</nav>
  {%- endif %}
{% endcomponent %}
