{% component _list_pages(@config: map, pages: array) %}
{%- for _page in pages %}
<section
  class="block-bg relative mb-4 rounded-lg p-4 first-of-type:mt-0 last-of-type:mb-0 active:scale-95 lg:mb-6 lg:p-6"
>
  {%- if _page.extra.cover?.image is string %}
  <figure class="mt-0 mb-4">
    <img
      class="h-auto w-full rounded-lg"
      src="{{ <_link dest={<_link_cover_image path={_page.extra.cover.image} assets={_page.assets} />} /> }}"
      {%- if _page.extra.cover.alt is string %}
      alt="{{ _page.extra.cover.alt }}"{% endif %}
      {%- if _page.extra.cover.width is defined %}
      width="{{ _page.extra.cover.width | int }}"{% endif %}
      {%- if _page.extra.cover.height is defined %}
      height="{{ _page.extra.cover.height | int }}"{% endif %}
    />
  </figure>
  {%- endif %}

  <h2 class="my-0! pb-1 leading-none! font-bold">{{ _page.title }}</h2>
  {%- if not _page.summary %}
    {%- set use_summary = false %}
  {%- elif not _page.description %}
    {%- set use_summary = true %}
  {%- elif _page.extra.page_summary_on_paginator is bool %}
    {%- set use_summary = _page.extra.page_summary_on_paginator %}
  {%- elif config.extra.page_summary_on_paginator is bool %}
    {%- set use_summary = config.extra.page_summary_on_paginator %}
  {%- else %}
    {%- set use_summary = false %}
  {%- endif %}
  {%- if use_summary %}
  <div class="not-prose my-1">
    {{ _page.summary | striptags | trim_end | trim_end(pat=`&hellip;`) | trim_end(pat=`.`) |
      safe }}{{ <_str key=`hellip` /> }}
  </div>
  {%- elif _page.description is string %}
  <div class="not-prose my-1 truncate">
    <p>{{ _page.description }}</p>
  </div>
  {%- else %}
  <div class="my-1 truncate"></div>
  {%- endif %}

  {{ <_page_info page={_page} on_page={false} /> }}

  {#- todo {% if use_summary %}#continue-reading{% endif %} #}
  <a class="absolute inset-0 text-[0px]" href="{{
    <_link dest={_page.permalink} /> }}">{{ _page.title }}</a>
</section>
{%- endfor %}
{% endcomponent %}
