{% component _og_fediverse(_g_profile, _ca_profile) -%}
  {%- if _g_profile?.open_graph is map or _ca_profile?.open_graph is map %}
    {{- throw(message=`'open_graph' for profiles is obsolete, read https://salif.github.io/linkita/update-2/ `) }}
  {%- endif %}
  {%- if _g_profile?.fediverse_creator is map %}
    {%- set fediverse_creator = _g_profile.fediverse_creator %}
  {%- elif _ca_profile?.fediverse_creator is map %}
    {%- set fediverse_creator = _ca_profile.fediverse_creator %}
  {%- endif %}
  {%- if fediverse_creator?.handle and fediverse_creator?.domain %}
  <meta name="fediverse:creator" content="@{{ fediverse_creator.handle }}@{{
    fediverse_creator.domain | replace(from=`https://`, to=``) }}" />
    {%- if fediverse_creator?.url %}
  <link rel="me" href="{{ fediverse_creator.url }}" />
    {%- else %}
  <link rel="me" href="https://{{ fediverse_creator.domain |
    replace(from=`https://`, to=``) }}/@{{ fediverse_creator.handle }}" />
    {%- endif %}
  {%- endif %}
{%- endcomponent %}
