{% component _post_taxonomies(@page: map, @ctx: map) %}
  {%- if page.taxonomies %}
    {%- set taxonomy_names = [] %}
    {%- for taxonomy_name, terms in page.taxonomies %}
      {%- if terms %}
        {#- todo #}
        {%- set_global taxonomy_names = [...taxonomy_names, taxonomy_name] %}
      {%- endif %}
    {%- endfor %}
    {%- if taxonomy_names %}
<footer class="mt-12 flex flex-col" tabindex="-1" accesskey="_">
      {%- for taxonomy_name in taxonomy_names | sort %}
  <div class="mb-2 flex flex-wrap">
    <span class="block-bg mr-1.5 mb-1.5 rounded-lg px-5 py-1.5">{{
      <_taxonomy_title key={taxonomy_name} /> }}</span>
        {% for term_name in page.taxonomies[taxonomy_name] %}
    <a
      class="block-bg block-hover mr-1.5 mb-1.5 rounded-lg px-5 py-1.5 no-underline"
      href="{{ <_link dest={get_taxonomy_url(kind=taxonomy_name, term=term_name, lang=ctx.lang)} /> }}">{%
          if taxonomy_name == "authors" %}{{
            <_profile_name username={term_name} lang={ctx.lang} /> }}{%
          else %}{{ term_name }}{% endif %}</a>
        {% endfor %}
  </div>
      {%- endfor %}
</footer>
    {%- endif %}
  {%- endif %}
{% endcomponent %}
