{% component _post_navigation(@page: map, invert) %}
  {%- if invert %}
    {%- set prev_page = page.higher %}
    {%- set next_page = page.lower %}
  {%- else %}
    {%- set prev_page = page.lower %}
    {%- set next_page = page.higher %}
  {%- endif %}
<nav class="block-bg mt-12 flex flex-wrap rounded-lg text-lg">
  {%- if prev_page is map %}
  <a
    class="block-hover-mask flex min-w-[50%] grow items-center rounded-l-md p-6 pr-3 font-semibold no-underline"
    href="{{ <_link dest={prev_page.permalink} /> }}" accesskey=","
    ><span class="mr-1.5">{{ <_str key=`left_arrow` /> }}</span><span>{{ prev_page.title }}</span></a>
  {%- endif %}
  {%- if next_page is map %}
  <a
    class="block-hover-mask ml-auto flex min-w-[50%] grow items-center justify-end rounded-r-md p-6 pl-3 font-semibold no-underline"
    href="{{ <_link dest={next_page.permalink} /> }}" accesskey="."
    ><span>{{ next_page.title }}</span><span class="ml-1.5">{{ <_str key=`right_arrow` /> }}</span></a>
  {%- endif %}
</nav>
{% endcomponent %}
