{% component _stylesheets(@config: map, @page: map) %}
  {%- if config.markdown.highlighting.style and config.markdown.highlighting.style == "class" %}
    {%- if config.markdown.highlighting.light_theme or config.markdown.highlighting.dark_theme %}
  <link rel="stylesheet" href="{{ <_link_static path=`giallo-light.css` />
    }}" media="(prefers-color-scheme: light)" />
  <link rel="stylesheet" href="{{ <_link_static path=`giallo-dark.css` />
    }}" media="(prefers-color-scheme: dark)" />
    {%- else %}
  <link rel="stylesheet" href="{{ <_link_static path=`giallo.css` /> }}" />
    {%- endif %}
  {%- endif %}
  <link rel="stylesheet" href="{{ <_link_static path=`main.min.css` /> }}" />
  <link rel="stylesheet" href="{{ <_link_static path=`icons.css` /> }}" />
  <link rel="stylesheet" href="{{ <_link_static path=`admonition.css` /> }}" />
  {%- if page.extra.inline_code_fix | default(value=config.extra.inline_code_fix) %}
  <link rel="stylesheet" href="{{ <_link_static path=`inline-code-fix.css` /> }}" />
  {%- endif %}
{%- endcomponent %}
