{% component gallery(@config: map, @page=none, @section=none, alt="") %}

{%- if section is map and page is none %}
  {%- set page = section %}
  {%- set section = none %}
{%- endif %}
{#- From variables.html #}
{%- set ctx = {
  "lang": page.lang,
  "base_url": get_url(path=``, trailing_slash=true, lang=default_language),
  "ugly_urls": config.extra.ugly_urls,
  "num_format": config.extra.languages?[page.lang]?.num_format | default(value=page.lang),
} %}
{%- if config.extra.relative_urls and current_url is string %}
  {%- set ctx = {...ctx, "cu_url": current_url | trim_start(pat=ctx.base_url) | split(pat=`/`) } %}
{%- endif %}
{#- End #}
<div class="not-prose flex flex-wrap gap-2">
{% for asset in page.assets | default(value=[]) -%}
  {%- if asset is matching(pat="[.](jpg|png|webp|avif)$") %}
    {%- set image = resize_image(path=asset, width=240, height=180) %}
    {%- set asset_name = asset | split(pat="/")[-1:] | join(sep="/") %}
  <a href="{{ <_link dest={get_url(path=page.path ~ asset_name,
    lang=ctx.lang, trailing_slash=false)} /> }}" target="_blank">
    <img class="rounded-lg" src="{{ <_link dest={image.url} /> }}"{%
      if alt is string %} alt="{{ alt }}"{% endif %} />
  </a>
  {%- endif %}
{%- endfor %}
</div>

{% endcomponent %}
