---
layout: page
title: Disciplinas - Marcos Sampaio
---

<p>Disciplinas ministradas pelo Prof. <a href="https://marcos.sampaio.me/pt-br/" target="_blank">Marcos Sampaio</a> na
    <a href="http://www.escolademusica.ufba.br/" target="_blank">Escola de Música</a> da
    Universidade Federal da Bahia.</p>

<h2>Semestre 2019.2</h2>

{% assign pages = site.marcos | sort %}

<ul>
    {% for page in pages %}
    {% assign disciplina = page.relative_path | split: '/' | last | replace: '.md', '' %}
    {% if site.data.docentes.marcos.atual contains disciplina %}
    <!--<li>{{ page.title | replace: '&#45;&#45;', '&ndash;' }}</li>-->
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<h2>Semestres Anteriores</h2>

{% assign pages = site.marcos | where:"level","graduacao" %}
<h3>Graduação</h3>
<pre>2011 a {{ 'now' | date: "%Y" }}</pre>

<ul>
    {% for page in pages %}
    {% unless page.new %}
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endunless %}
    {% endfor %}
    <li>MUSA77 - História I</li>
    <li>MUSB12 - Composição III</li>
    <li>MUSB13 - Composição IV</li>
    <li>MUSB16 - Composição VII</li>
    <li>MUSB17 - Composição VIII</li>
</ul>

<pre>2007 e 2008</pre>

<ul>
    <li>MUS003 - Percepção I (antiga)</li>
    <li>MUS104 - Instrumentação e Orquestração I (antiga)</li>
    <li>MUS110 - Composição III (antiga)</li>
    <li>MUS111 - Composição IV (antiga)</li>
</ul>


{% assign pages = site.marcos | where:"level","pos-graduacao" %}
<h3>Pós-graduação</h3>
<pre>2013 a 2016</pre>
<ul>
    <li>MUS504 – Estudos especiais – Teoria de Contornos</li>
    <li>MUS505 – Informática em Música I</li>
    <li>MUS515 – Tópicos em Teoria I</li>
    <li>MUS592 – Informática em Música III</li>
    {% for page in pages %}
    {% unless page.new %}
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endunless %}
    {% endfor %}
</ul>

{% assign pages = site.marcos | where:"level","extensao" %}
<h3>Extensão</h3>
<pre>Até 2011</pre>
<ul>
    <li>Curso de Python introdutório – material de aula</li>
    <li>Curso introdutório à programação computacional com Python para compositores</li>
    {% for page in pages %}
    {% unless page.new %}
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endunless %}
    {% endfor %}
</ul>

<h2>Salas e horários</h2>

<p>As disciplinas são oferecidas em semestres alternados, algumas apenas em semestres pares e outras apenas em semestres ímpares.</p>

<table class="table table-sm">
  <tr>
    <th>Disciplina</th>
    <th>Sala</th>
    <th>Dias</th>
    <th>Horário</th>
  </tr>
  <tr>
    <td>MUSA69 e MUSA70</td>
    <td>201</td>
    <td>Terças e quintas</td>
    <td>13:00-14:50</td>
  </tr>
  <tr>
    <td>MUSA71 e MUSA72</td>
    <td>201</td>
    <td>Terças e quintas</td>
    <td>8:50-10:40</td>
  </tr>
  <tr>
    <td>MUSA83 (semestre ímpar)</td>
    <td>GenosLab</td>
    <td>Terças</td>
    <td>14:50-16:40</td>
  </tr>
  <tr>
    <td>MUSA90 (semestre par)</td>
    <td>GenosLab</td>
    <td>Terças</td>
    <td>14:50-15:45</td>
  </tr>
  <tr>
    <td>MUSA92</td>
    <td>GenosLab</td>
    <td>Terças</td>
    <td>16:40-17:35 (s. ímpar), 15:45-16:40 (s. par)</td>
  </tr>
  <tr>
    <td>MUSB14 e MUSB15</td>
    <td>GenosLab</td>
    <td>Quintas</td>
    <td>14:50-17:35</td>
  </tr>
</table>
