---
layout: page
title: Disciplinas Marcos Sampaio
---

<h2>Semestre {{ site.semestre }}</h2>

{% assign pages = site.marcos | sort %}

<ul>
{% for page in pages %}
    {% assign disciplina = page.relative_path | split: '/' | last | replace: '.md', '' %}
    {% if site.data.docentes.marcos.atual contains disciplina %}
        <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<p>As salas e horários das aulas estão disponíveis no sistema de salas do Departamento de Música.</p>

<h2>Semestres Anteriores</h2>

<ul>
{% for page in pages %}
    {% assign disciplina = page.relative_path | split: '/' | last | replace: '.md', '' %}
    {% unless site.data.docentes.marcos.atual contains disciplina %}
        <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endunless %}
{% endfor %}
</ul>
