---
layout: page
title: Marcos Sampaio
---

<style>
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
</style>

<p>Atividades do Prof. <a href="https://marcos.sampaio.me/" target="_blank">Marcos Sampaio</a> na
    <a href="http://www.escolademusica.ufba.br/" target="_blank">Escola de Música</a> da
    Universidade Federal da Bahia.</p>

<div id="toc_container">
  <p class="toc_title">Conteúdos</p>
  <ul class="toc_list">
    <li><a href="#ensino">Ensino</a>
    <li><a href="#pesquisa">Pesquisa</a>
    <li><a href="#administracao">Administração</a>
    <li><a href="#salas-horarios">Salas e horários</a>
    <li><a href="#contato">Contato</a>
  </ul>
</div>

{% assign semestre_atual = site.data.docentes.marcos.semestre %}
{% assign pages = site.marcos | where:"level","graduacao" | sort %}

<h2 id="ensino">Ensino</h2>

<h3>Semestre {{ semestre_atual }}</h3>

<h4>Graduação</h4>

<ul>
  {% for page in pages %}
  {% assign disciplina = page.relative_path | split: '/' | last | replace: '.md', '' %}
  {% if site.data.docentes.marcos.atual contains disciplina %}
  <!-- <li>{{ page.title | replace: '--', '&ndash;' }}</li> -->
  <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

{% assign pages = site.marcos | where:"level","pos-graduacao" | sort %}

<!-- <h4>Pós-graduação</h4> -->

<ul>
    {% for page in pages %}
    {% assign disciplina = page.relative_path | split: '/' | last | replace: '.md', '' %}
    {% if site.data.docentes.marcos.atual contains disciplina %}
    <!--<li>{{ page.title | replace: '&#45;&#45;', '&ndash;' }}</li>-->
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Semestres anteriores</h3>

{% assign pages = site.marcos | where:"level","graduacao" %}
<h4>Graduação</h4>
<pre>2011 a {{ 'now' | date: "%Y" }}</pre>

<ul>
    {% for page in pages %}
    {% unless page.new %}
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endunless %}
    {% endfor %}
    <li>MUSA77 - História I</li>
    <li>MUSB12 - Composição III</li>
    <li>MUSB13 - Composição IV</li>
    <li>MUSB16 - Composição VII</li>
    <li>MUSB17 - Composição VIII</li>
</ul>

<pre>2007 e 2008</pre>

<ul>
    <li>MUS003 - Percepção I (antiga)</li>
    <li>MUS104 - Instrumentação e Orquestração I (antiga)</li>
    <li>MUS110 - Composição III (antiga)</li>
    <li>MUS111 - Composição IV (antiga)</li>
</ul>

{% assign pages = site.marcos | where:"level","pos-graduacao" %}
<h4>Pós-graduação</h4>
<pre>2020 a {{ 'now' | date: "%Y" }}</pre>
<ul>
    {% for page in pages %}
    {% unless page.new %}
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endunless %}
    {% endfor %}
</ul>

<pre>2013 a 2016</pre>
<ul>
    <li>MUS504 – Estudos especiais – Teoria de Contornos</li>
    <li>MUS505 – Informática em Música I</li>
    <li>MUS515 – Tópicos em Teoria I</li>
    <li>MUS592 – Informática em Música III</li>
    {% comment %} {% for page in pages %}
    {% unless page.new %}
    <li><a href="{{ page.url }}">{{ page.title | replace: '--', '&ndash;' }}</a></li>
    {% endunless %}
    {% endfor %} {% endcomment %}
</ul>

<hr>

<h2 id="pesquisa">Pesquisa</h2>

<h3>Em andamento</h3>

<ul>
<li>Projeto de pesquisa 
<a href="https://marcos.sampaio.me/project/haydn-mozart-beethoven/" 
target="_blank">Estudo quantitativo de uma coleção de obras de Haydn,
 Mozart e Beethoven</a> (iniciada em 2019)</li>
</ul>

<h3>Atividades concluídas</h3>

<ul>
<li><a href="https://marcos.sampaio.me/project/contour-similarity/"
target="_blank">Algoritmos de similaridade de contornos</a> (2014 a 2018)</li>
<li><a href="https://marcos.sampaio.me/project/composition-with-contours/"
target="_blank">Aplicação de contornos na Composição Musical</a> (2007 a 2012)</li>
<li>Composições para flauta solo (1710-1810): levantamento, análise e composição (2013 a 2014)</li>
<li>Análise automática de harmonia por computador (2007 a 2009)</li>
</ul>

<h3>Publicações</h3>

<script src="https://bibbase.org/show?bib=https%3A%2F%2Fmarcos.sampaio.me%2Ffiles%2Fpublicacoes.bib&jsonp=1"></script>

<hr>

<h2 id="administracao">Administração</h2>

<h3>Em andamento</h3>
  <li>Coordenação das disciplinas de análise (Técnicas de Análise I e II, Introdução à Análise Musical e Análise Musical Avançada I)</li>
<ul>
</ul>

<h3>Atividades concluídas</h3>

<ul>
  <li>Coordenação do Colegiado do Curso de Composição e Regência (2019-2021)</li>
  <li>Presidência do Núcleo Docente Estruturante do Curso de Composição e Regência (2020-2021)</li>
  <li>Vice-chefia do Departamento de Música (2016-2018)</li>
  <li>Vice-coordenação do Colegiado de Composição e Regência (2011-2015)</li>
</ul>

<hr>

<h2 id="salas-horarios">Salas e horários</h2>

<p>
  No Semestre Letivo Suplementar da UFBA, as aulas síncronas serão
  realizadas no Google Meet institucional nos horários listados
</p>

<table class="table table-sm">
  <tr>
    <th>Disciplina</th>
    <th>Sala</th>
    <th>Dias</th>
    <th>Horário</th>
  </tr>
  <tr>
    <td>MUSA72</td>
    <td>Google Meet</td>
    <td>Terças</td>
    <td>8:50hs</td>
  </tr>
  <tr>
    <td>MUSA83</td>
    <td>Google Meet</td>
    <td>Terças</td>
    <td>14:50hs</td>
  </tr>
  <tr>
    <td>MUSB14</td>
    <td>Google Meet</td>
    <td>Quartas</td>
    <td>14:50hs</td>
  </tr>
  <tr>
    <td>MUSF18</td>
    <td>Google Meet</td>
    <td>Quartas</td>
    <td>8:50hs</td>
  </tr>
  <tr>
    <td>Atendimento</td>
    <td>Google Meet</td>
    <td>Mediante agendamento</td>
    <td>Mediante agendamento</td>
  </tr>
</table>

<!-- <p>As disciplinas são oferecidas em semestres alternados, algumas apenas em semestres pares e outras apenas em semestres ímpares.</p> -->

<!-- <table class="table table-sm"> -->
<!--   <tr> -->
<!--     <th>Disciplina</th> -->
<!--     <th>Sala</th> -->
<!--     <th>Dias</th> -->
<!--     <th>Horário</th> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>MUSA69 e MUSA70</td> -->
<!--     <td>201</td> -->
<!--     <td>Terças e quintas</td> -->
<!--     <td>13:00-14:50</td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>MUSA71 e MUSA72</td> -->
<!--     <td>201</td> -->
<!--     <td>Terças e quintas</td> -->
<!--     <td>8:50-10:40</td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>MUSB14 e MUSB15</td> -->
<!--     <td>GenosLab</td> -->
<!--     <td>Quintas</td> -->
<!--     <td>14:50-17:35</td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>Disciplinas PPGMUS</td> -->
<!--     <td>GenosLab</td> -->
<!--     <td>Terças</td> -->
<!--     <td>14:50-17:35</td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td>Atendimento Colegiado</td> -->
<!--     <td>Sala dos Colegiados</td> -->
<!--     <td>Terças</td> -->
<!--     <td>17:35-18:00</td> -->
<!--   </tr> -->
<!-- </table> -->

<hr>

<h2 id="contato">Contato</h2>
<p>Email: {{ site.data.docentes.marcos.email }}</p>
